/*
Colors used:
Primary Color (Dusty Blue): #64A3B5;
Secondary (and active) Color (Burnt Orange): #B07033;
Text Color (Black): #000000;
Hyperlink Color (Darkgray): #747474;
Light Gray: #F0F0F0
*/

* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: 'Barlow', sans-serif;
  font-size: 16px; /*Sets the font size to 16px */
  font-weight: 300; /*Set's the font weight to 300 */
  line-height: 1.9; /* Sets the line-height to 1.6 * the font size */
  color: #676767;
}
h1, h2, h3 {
  line-height: 1.3;
}
h1 {
  font-size: 2em;
  font-weight: 500;
}
h2 {
  font-size: 1.5em;
  font-weight: 400;
}
h3 {
  font-size: 1.25em;
  font-weight: 400;
}
h4 {
  font-size: 1em;
  font-weight: 300:
}
img {width: 100%;}

.logo {
  width: 50px;
  height: auto;
}

a {
  color: #64A3B5;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link - blue */
  color: #747474;
}
a:hover,
a:focus {
  color: #000000;
  text-decoration: underline; /* Underlining when hovering over link */
}
a:active { /* selected link - burnt orange */
  color: #B07033;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block */
  background-color: #64A3B5;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 5px;
  border-radius: 3px;
  border-bottom: 2px solid #747474; /* width of the border, type, color */
  transistion: 0.2s opacity;
}
.button:visited {
  color: #ffffff;
  background-color: #747474;
}
.button:hover,
.button:focus {
  opacity: 0.8; /* reduces opacity of button to 80% */
  text-decoration: none;
}
.button:active {
  color: #000000
}

.button.contact {
  background-color: transparent;
  color: #64A3B5;
  text-transform: uppercase;
  border: 2px solid #64A3B5;
}
.button.contact:hover,
.button.contact:focus {
  background-color: #747474;
  color: #ffffff;
  border: 2px solid #747474;
}
.button.contact:active {
  background-color: #B07033;
  color: #ffffff;
  border: 2px solid #B07033;
}


/* Layout Styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right*/
}

#projects .row {
    padding-bottom: 20px;
    border-bottom: 1px solid #64A3B5; }

#hero h1 {
    text-align: center; /* centers text */
    }

.center { /* added this for the "hello" line on about page...because it will always be centered? */
  text-align: center;
}

/* this is a second way to center text. Need to add class="center" to <h1> (or other <h> tags) in HTML file
.center {
      text-align: center;
    } */

#about h1,h2 {
  text-align: center;
}
#projects h2 {
  text-align: center;
}
#contact h2 {
  text-align: center;
}
#hero p {
  text-align: center;
}

header {
  background-color: #F0F0F0;
  text-align: center;
  padding: 10px 0; /* adds padding to the top so it's not against screen */
  box-shadow: 0px 1px 9px 0px rgba(50, 50, 50, 0.25);
  position: fixed;
}
main {
  padding-top: 150px;
}
nav > ul { /* this selects only the ul in the nav (which is only in the header) */
  list-style-type: none; /* removes bullets from nav list */
  padding: 0; /* removes padding so items correctly center */
}
nav > ul > li {
  display: inline-block; /* moves items to one line */
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #64A3B5;
}
nav > ul > li > a:visited {
/* something should go here but I'm not sure what since it already functions the way I thought it was supposed to */
}
nav { /*this was supposed to keep nav items from being flush with the bottom of the nav but mine didn't look like that anyway */
  display: inline-block;
  width: 100%
}
#hero {
  background-color: #F0F0F0;
  padding: 20px 10px;
  display: inline-block;
  width: 100%;
}

.contact {
  text-align: center;
}
.social > ul {
  list-style-type: none;
  padding: 0;
}
.social > ul > li {
  display: inline;
}
.social > ul > li > a {
  padding: 0 15px;
}
